/*------------- Avatar -------------*/
.avatarSlideItem{
    width: 200px;
    max-width: 100%;
    cursor: pointer;
}
.avatarSlideItem.active{
    border:10px solid greenyellow;
}
.avatarSlideItem:hover{
    /* border: 1px solid grey; */
}
.avatarSlider{
    height:120px;
    margin:20px;
    position: relative;
    overflow:hidden;
}
#goPlan {
    margin-left: 30px;
}

.avatar-s-title {
    margin-bottom: 40px;
}

button.slide-left{
    position: absolute;
    height: 120px;
    left: 0px;
    top:0px;
    border:0px;
}
button.slide-right{
    position: absolute;
    height: 120px;
    right: -20px;
    top:0px;
    border:0px;
}

.avatarContent{
    display: flex;
    position: relative;
    left:20px;
}
.avatarContent img{
    padding:5px;
}


.font-bold{
    font-weight: 700;
}
.task_tab{
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.task_tab .item{
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: #E6EEFF;
    font-size: 20px;
    margin:5px;
}
.taskItem{
    height: 45px;
    overflow: hidden;
    display: flex;
    align-items: center;
    /* border-bottom: 2px solid rgba(242, 168, 153, 0.6); */
}
.taskItem *{
    cursor: pointer;
}
.taskItem label{
    width: 100%;
    text-align: left;
    font-size: 24px;
    color: black;
    font-weight: 600;
    text-transform: capitalize;
}
.taskItem i{
    margin-right: 10px;
    font-size: 30px;
    /* color: #7D204F; */
    opacity: 0.7;
}
.taskItem label{
    line-height: 24px;
}
.taskItem.active label{
    text-decoration: line-through;
}

.infoTab{
    display: flex;
    justify-content: space-around;
    font-size: 16px;
}

.gameprogress{
    text-align: left;
    padding: 20px 75px;
}
.playerprogress{
    margin:10px;
    
}
.playerprogress .info{
    width:100px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor:pointer;
}
.playerprogress .info img{
    width: 150px;
    height: 150px;
}
.playerprogress div.progress-bar.complete{
    background-color: chartreuse;
}
.card-header button{
    position: absolute;
    top: 15px;
    right: 10px;
}

.card.minimize .card-body{
    display:none;
}

#countTime{
    font-size: 20px;
}

.text-24{
    font-size: 24px;
}

.hidden{
    display:none;
}


.w-60{
    width: 60px;
}
.w-40{
    width: 40px;
}

.mt-50{
    margin-top: 50px;
}

.my-30{
    margin-top: 30px;
    margin-bottom: 30px;
}

.my-50{
    margin-top: 50px;
    margin-bottom: 50px;
}
.ml-30{
    margin-left: 30px;
}

/*---------- Modal ---------*/
.modal,
.modal-box {
  z-index: 900;
}

#tasklistModal .modal-sandbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(24, 25, 26, 0.3);
}

#tasklistModal .modal {
  display: none; 
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(0,0,0);
  background: rgba(0,0,0,.8);
  overflow: auto;
}

#tasklistModal .modal-box {
  position: relative;
  width: 80%;
  max-width: 920px;
  margin: 100px auto;
  animation-name: modalbox;
  animation-duration: .4s;
  animation-timing-function: cubic-bezier(0,0,.3,1.6);
}

#tasklistModal .modal-header {
  padding: 20px 40px;
  background: #ECEFF1;
  color: #000000;
}

#tasklistModal .modal-body {
  background: #f6f7f8;
  padding: 20px 40px 40px 40px;
  border-bottom-left-radius: var(--bs-modal-inner-border-radius);
  border-bottom-right-radius: var(--bs-modal-inner-border-radius);
}

#tasklistModal .modal-body table{
    width: 100%;
}

#tasklistModal .modal-body .line-num {
    width: 70px;
}
#tasklistModal .modal-body .task-on-modal {
    width: 80%;
}

/* Close Button */
#tasklistModal .close-modal {
    text-align: right;
    cursor: pointer;
    margin-top: 40px;
  }

  #tasklistModal button.close-modal {
    color: black;
    border: 1px solid black;
  }
  
  /* Animation */
  @-webkit-keyframes modalbox {
    0% {
      top: -250px; 
      opacity: 0;
    }
    100% {
      top: 0; 
      opacity: 1;
    }
  }
  
  @keyframes modalbox {
    0% {
      top: -250px; 
      opacity: 0;
    }
    100% {
      top: 0; 
      opacity: 1;
    }
  }
  
  /* Aditional Styles */
  #tasklistModal * {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
  }
  
  #tasklistModal p {
    line-height: 1.4em;
  }
  
  /* body {
    background: #B0BEC5;
  } */
  
  #tasklistModal .modal-trigger, button {
    top: 50%;
    left: 50%;
    padding: 20px 40px;
    background: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    text-decoration: none;
  }
  
  #tasklistModal .modal-trigger {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: ease .2s;
  }
  
  #tasklistModal .modal-trigger:hover {
    padding: 20px 60px;
  }

  #confirmIsSharing {
    margin-bottom: 40px
  }

  #confirmIsSharing .form-check-label {
    margin-left: 20px;
  }

  #taskadd {
    position: static;
    margin-left: 20px;
  }